\resumeSubheading{[[JAA:COMPANY]]}{[[JAA:DATES]]}{[[JAA:POSITION]]}{[[JAA:LOCATION]]}
[[JAA:IF SUMMARY]]\resumeDescription{[[JAA:SUMMARY]]}
[[JAA:END SUMMARY]][[JAA:IF HIGHLIGHTS]]\begin{resumeItems}
[[JAA:HIGHLIGHTS]]\end{resumeItems}
[[JAA:END HIGHLIGHTS]]
