\resumeProjectHeading{[[JAA:NAME]][[JAA:IF LOCATION]] $|$ [[JAA:LOCATION]][[JAA:END LOCATION]]}{[[JAA:DATES]]}
[[JAA:IF SUMMARY]]\resumeDescription{[[JAA:SUMMARY]]}
[[JAA:END SUMMARY]][[JAA:IF HIGHLIGHTS]]\begin{resumeItems}
[[JAA:HIGHLIGHTS]]\end{resumeItems}
[[JAA:END HIGHLIGHTS]]
