\datesubsection{[[JAA:INSTITUTION]]}{[[JAA:DATES]]}
\textit{\textbf{[[JAA:DEGREE]]}[[JAA:IF AREA]] --- \textbf{[[JAA:AREA]]}[[JAA:END AREA]][[JAA:IF LOCATION]] --- [[JAA:LOCATION]][[JAA:END LOCATION]]}\par
[[JAA:IF SUMMARY]]\cvdescription{[[JAA:SUMMARY]]}
[[JAA:END SUMMARY]][[JAA:IF HIGHLIGHTS]]\begin{cvitems}
[[JAA:HIGHLIGHTS]]\end{cvitems}
[[JAA:END HIGHLIGHTS]]
