\datesubsection{[[JAA:COMPANY]]}{[[JAA:DATES]]}
\textit{\textbf{[[JAA:POSITION]]}[[JAA:IF LOCATION]] --- [[JAA:LOCATION]][[JAA:END LOCATION]]}\par
[[JAA:IF SUMMARY]]\cvdescription{[[JAA:SUMMARY]]}
[[JAA:END SUMMARY]][[JAA:IF HIGHLIGHTS]]\begin{cvitems}
[[JAA:HIGHLIGHTS]]\end{cvitems}
[[JAA:END HIGHLIGHTS]]
