\datesubsection{[[JAA:NAME]]}{[[JAA:DATES]]}
[[JAA:IF LOCATION]]\textit{[[JAA:LOCATION]]}\par
[[JAA:END LOCATION]][[JAA:IF SUMMARY]]\cvdescription{[[JAA:SUMMARY]]}
[[JAA:END SUMMARY]][[JAA:IF HIGHLIGHTS]]\begin{cvitems}
[[JAA:HIGHLIGHTS]]\end{cvitems}
[[JAA:END HIGHLIGHTS]]
