\datesubsection{[[JAA:TITLE]]}{[[JAA:DATES]]}
\cvdescription{[[JAA:AUTHORS]][[JAA:IF JOURNAL]] --- \textit{[[JAA:JOURNAL]]}[[JAA:END JOURNAL]][[JAA:IF DOI]] --- DOI: [[JAA:DOI]][[JAA:END DOI]][[JAA:IF URL]] --- [[JAA:URL]][[JAA:END URL]][[JAA:IF SUMMARY]]\\[[JAA:SUMMARY]][[JAA:END SUMMARY]]}
